# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

############################
markdowns
markdowns/*.html
markdowns/*.tsv
markdowns/*.csv
markdowns/*.xlsx
markdowns/*.png
.Renviron

paper_figures

database

.Rproj.user

results
code

dependencies/bedtools-2.29.1.tar.gz
dependencies/bedtools2
dependencies/Homo_sapiens.GRCh38.105.chr.gtf
dependencies/clinvar_intronic_tidy.rda
dependencies/MT_genes.rds
dependencies/MANE.GRCh38.v1.0.ensembl_genomic.gtf
dependencies/major_introns_tidy.rds
dependencies/minor_introns_tidy.rds
dependencies/hg38-blacklist.v2.bed
dependencies/CNC_CDTS_CONS_gr.rda
dependencies/Homo_sapiens.GRCh38.dna.primary_assembly.fa
dependencies/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
dependencies/fordownload
dependencies/fordownload.tar.gz